aiohttp==3.8.5
aiosignal==1.3.1
astroid==2.15.6
async-timeout==4.0.2
attrs==23.1.0
backoff==2.2.1
blinker==1.6.2
botocore==1.31.9
certifi==2023.7.22
chardet==5.1.0
charset-normalizer==3.2.0
click==8.1.6
dill==0.3.6
flake8==6.0.0
Flask==2.3.2
frozenlist==1.4.0
gql==3.4.1
graphql-core==3.2.3
idna==3.4
iniconfig==2.0.0
isort==5.12.0
itsdangerous==2.1.2
Jinja2==3.1.2
jmespath==1.0.1
lazy-object-proxy==1.9.0
MarkupSafe==2.1.3
mccabe==0.7.0
multidict==6.0.4
ovh==1.1.0
packaging==23.1
platformdirs==3.9.1
pluggy==1.2.0
pycodestyle==2.10.0
pyee==11.0.0
pyflakes==3.0.1
pylint==2.17.4
pytest==7.4.0
python-dateutil==2.8.2
python-decouple==3.8
requests==2.31.0
requests-toolbelt==0.10.1
six==1.16.0
slackclient==2.9.4
slackeventsapi==3.0.1
tomlkit==0.11.8
typing_extensions==4.7.1
urllib3==1.26.16
websockets==10.4
Werkzeug==2.3.6
wrapt==1.15.0
yarl==1.9.2
flask-slacksigauth==1.0.9
freezegun==1.2.2